# ref: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# ref: https://www.golinuxcloud.com/dockerignore-file/
setup
README.md
Makefile
Dockerfile
src/.env
src/docker-compose.yml
.git
*/k8s*
*/docker-*
*/.tool-versions
*/.editorconfig
*/.env*
*/.idea*
**/*.DS_Store
**/*.gitignore
**/*.dockerignore

ops
!ops/docker
src/app/vendor
src/app/node_modules
src/data